body {
	font-family: Arial;
	color: #fff;
	font-size: 0.9em;
	/* background-color: #171c21; */
}


.back {
    background-color: #171c21;
}

a{
    font-size: 19px;

}
li{
    padding: 15px 30px;
}
.navbar-brand{
    font-size: xx-large;
    padding: 28px 30px;
    color: white;
    
}

#shopping-cart {
	margin: 40px;
}

#product-grid {
	margin: 40px;
}

#shopping-cart table {
	width: 100%;
	background-color: #fff;
}

#shopping-cart table td {
	background-color: #fff;
}

.txt-heading {
	text-align: center;
	color: burlywood;
	border-bottom: 1px solid #fff;
	overflow: auto;
	font-size: 40px;
	font-family: 'Times New Roman', Times, serif;
}

.txt-head{
	font-size: 20px ;
	font-family: Arial, Helvetica, sans-serif;
}

#btnEmpty {
	background-color: #d00000;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #ffffff;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

.btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}

.product-item {
	float: left;
	background: #ffffff;
	margin: 30px 60px 0px 0px;
	border: black 1px solid;
}

.product-item img{
	height: 155px;
	width: 314px;
}

.product-image {
	height: 155px;
	width: 280px;
	background-color: #FFF;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.tbl-cart {
	font-size: 0.9em;
}

.tbl-cart th {
	font-weight: normal;
}

.product-title {
	margin-bottom: 20px;
}

.product-price {
	float:left;
	padding-right: 20px;
	font-size: large;
}

.cart-action {
	float: right;
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}

.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
	font-size:30px;
	color:burlywood;
}

.empty{
	margin-bottom: 100px;
}